#chocolate{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 60%;
    background-color: saddlebrown;
   border: 10px solid white;
   padding: 10px;
   border-radius: 15px 0px 15px;
    
}
.bolo{
    text-align: center;
    font: 200px;    

}
#limão{
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 40%;
   height: 60%;
   background-color: greenyellow;
   border: 10px solid white;
   padding: 10px;
   border-radius: 15px 0px 15px;
}
    .receita{
        text-align: center;
        font-size: 100px;
         background-color: coral;
         border: 10px solid saddlebrown;
         padding: 10px;
         border-radius: 15px 0px 15px;
       
    }
    .melhores{
        text-align: center;
        font-size: medium;
    }
    .torta{
        text-align: center;
        font-size: 100px;
    }
    .pinhão{
        text-align: center;
        font-size: 100px;
    }
    #paçoca{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
        height: 60%;
         background-color: brown;
        border: 10px solid white;
        padding: 10px;
        border-radius: 15px 0px 15px;
}
    
    .fofinho{
        text-align: center;
        font-size: 30px
        ;
    }

    .Facil{
        text-align: center;
        font-size: 30px;
    }

    .Simples{
        text-align: center;
        font-size: 30px;
    }

    .container-link {
    display: flex;
    justify-content: center; 
    align-items: center;
    font-size: 30px;
    }

    hr{
        border: none;
    height: 2px;
    background-color: coral;
    border: 5px solid saddlebrown;
     margin: 10px auto;
     padding: 15px 0; 
     border-radius: 15px;
    
  
    }

    .vídeo{
        text-align: center;
        font-size: 50px;
    }

   .container-video {
    display: flex;
    justify-content: center; 
    margin: 20px 0;
   }

body{
    background-color: sandybrown
    

}
        